{
	"optimization": {
		"cost_function": "mse",
		"class_weights": [],
		"method": "adam",
		"learning_rate": 1e-5,
		"decrease_factor": 1,
		"final_learning_rate": 1e-6,
		"last_iter_to_decrease": 1000,
		"momentum": 0.9,
		"epsilon": 1e-6,
		"rho": 0.95,
		"beta1": 0.9,
		"beta2": 0.999,
		"nesterov": true,
		"regularization": false,
		"regularization_type": "L2",
		"regularization_coeff": 1e-4
	},
	"model": {
		"input_shape": [30, 30, 3],
		"output_shape": [30, 30, 3],
		"num_patches": 4,
        "dropout": false,
		"augmentation": true
	},
	"training": {
		"n_epochs": 500,
		"batch_size": 500,
		"continue": false,
		"display_cost": true,
		"save_path": "training_curves",
		"validation_frequency": 117,
		"validation_batch_size": 500,
		"extract_params": true,
		"param_file": "srcnn_4000_x2.npz",
		"multi_gpus": false
	},
    "testing": {
		"batch_size": 100
	},
	"summary_dir": ""
}